<%- include('../layout/header')%>

    <div class="name">
        <h2>Hii Mr.. <%=user.name%>
        </h2>
    </div>


    <div class="name">
        <div class="item">
            <div class="item-1">
                <img src="user_img/<%=user.image %>" alt="<%=user.image %>">
            </div>
            <div class="item-2">
                <div class="details">
                    <li>
                        Name: <span>
                            <%=user.name%>
                        </span>
                    </li>
                    <li>
                        Email: <span>
                            <%=user.email%>
                        </span>
                    </li>
                    <li>
                        Mobile: <span>
                            <%=user.mobile%>
                        </span>
                    </li>
                    <li>
                        Verified: <span>True</span>
                    </li>
                    <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
                    <br>

                </div>
                <div class="edit">
                    <a href="/delete?id=<%=user._id%>"><i class="fa-sharp fa-solid fa-trash"></i></a>
                    <a href="/edit?id=<%=user._id%>"><i class="fa-solid fa-user-pen"></i></a>
                </div>
            </div>
        </div>
    </div>




    <%- include('../layout/footer')%>